.color-proj {
    background-color: rgb(239, 220, 5);
    color: black;
}

.btn-category {
    background-color: rgb(48, 169, 222) !important;
    border: thin solid white !important;
    border-radius: 30% !important;
    color: black !important;
}

.btn-selector {
    border: thin solid white !important;
    border-radius: 45% !important;
    margin: 10px;
    padding: 0 !important;
    width: 10px;
    height: 10px;
}