.color-prof {
    background:linear-gradient(
        rgb(40, 40, 40),
        rgb(30, 30, 30)
    );
    color: white;
}

.techcard {
    span {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.profheader {
    background-color: rgb(35, 157, 173) !important;
    color: white;
}