.color-prof {
    background:linear-gradient(
        rgb(40, 40, 40),
        rgb(30, 30, 30)
    );
    color: white;
}

.techcard {
    span {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.cardheader {
    background: linear-gradient(
        to right,
        rgb(16, 26, 114),
        rgb(156, 164, 235)
    ) !important;
    color: white;
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.cardbody {
    background-color: rgb(78, 78, 78) !important;
    color: white;
}