.bg-landing {
    background: linear-gradient(
        rgb(40, 40, 40),
        rgb(40, 40, 40)
        ),
        url('./back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.color-land {
    color: white;
    padding-top: 100px;
}

.arrow-down-size {
    font-size: 250%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}