.color-land {
    background: linear-gradient(
        rgb(30, 35, 41), 
        rgb(30, 35, 41), 
        rgba(0, 0, 0, 0.3),
        rgb(30, 35, 41), 
        rgb(30, 35, 41)
        ),
        url('./back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    height: 100vh;
}

.arrow-down-size {
    font-size: 250%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}