.text {
    .lv1 {
        font-size: 3em;
    }

    .lv2 {
        font-size: 2.5em;
    }

    .lv2 {
        font-size: 2em;
    }

    .lv3 {
        font-size: 1.5em;
    }

    .lv4 {
        font-size: 1em;
    }

    .lv5 {
        font-size: 0.75em;
    }

    .lv6 {
        font-size: 0.5em;
    }
}

.paragraph {
    padding-top: 20px;
    padding-bottom: 20px;
}

.horizondiv {
    white-space: nowrap;
}

.proj-shell {
    display: table;
    height: 100%;
}

.proj-cover {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.7);
}

.proj-movebtn {
    color: green;
}

.card {
    color: black;
}

.bgcolor {
    background:linear-gradient(
        rgb(40, 40, 40),
        rgb(30, 30, 30)
    );
    color: white;
}