.color-link {
    background-color:rgb(20, 20, 20);
    color: white;
    padding-bottom: 50px;
}

.linktext {
    font-size: 1.2em;
}

.linkpadding {
    padding-bottom: 50px;

    a:link {
        color: yellow;
    }
    a:hover {
        color: yellow !important;
    }
    a:active {
        color: yellow;
    }
    a:visited {
        color: yellow;
    }
}