.color-link {
    background:linear-gradient(
        rgb(40, 40, 40),
        rgb(30, 30, 30),
        rgb(20, 20, 20),
        rgb(10, 10, 10),
        rgb(0, 0, 0),
        rgb(10, 10, 10),
        rgb(20, 20, 20),
        rgb(30, 30, 30),
        rgb(40, 40, 40)
    );
    color: white;
    padding-bottom: 50px;
}

.linktext {
    font-size: 1.2em;
}

.linkpadding {
    padding-bottom: 50px;

    a:link {
        color: yellow;
    }
    a:hover {
        color: yellow !important;
    }
    a:active {
        color: yellow;
    }
    a:visited {
        color: yellow;
    }
}